.venv/*
.env
__pycache__/
*.py[cod]
*$py.class
nl2sh/agents/__pycache__/*
nl2sh/data/__pycache__/*
nl2sh/prompts/__pycache__/*
gened_files/*
!gened_files/.gitkeep
eval_results/*
!eval_results/.gitkeep
data/*.jsonl